@model ForgetPasswordViewModel

@{
    Layout = "_AccountLayout";
}


<div class="sidenav">
         <div class="login-main-text">
        <h2>Application<br> ForgetPassword Page</h2>
        <p>Forget Password to access.</p>
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
            <form asp-action="ForgetPassword">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" asp-for="Email" placeholder="Email ">
                    <span asp-validation-for="Email"></span>
                </div>


                <button type="submit" class="btn btn-black d-inline ms-1">Send Email</button>

            </form>
            <a type="submit" class="btn btn-secondary d-inline ms-1" asp-action="Login">Login</a>
            </div>
         </div>
      </div>