@model ForgetPasswordViewModel

@{
    Layout = "_AccountLayout";
}

<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <!-- Signin Image -->
            <div class="signin-image">
                <figure>
                    <img src="~/Images/Account/ForgotPassword.png" alt="Sign in image" />
                </figure>
                <a href="@Url.Action("Register", "Account")" class="signup-image-link">Create an account</a>
            </div>

            <!-- Forget Password Form -->
            <div class="signin-form">
                <h2 class="form-title">Forget Password</h2>
                <form method="POST" asp-action="ForgetPassword" class="register-form" id="forgetpassword-form">
                    <div class="form-group">
                        <label for="your_email"><i class="zmdi zmdi-email"></i></label>
                        <input type="email" asp-for="Email" class="form-control" id="your_email" placeholder="Your Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group form-button">
                        <input type="submit" name="send_email" id="send_email" class="form-submit" value="Send Email" />
                    </div>
                </form>

                <!-- Login Link -->
                <div class="mt-2">
                    <a href="@Url.Action("Login", "Account")" class="btn btn-secondary d-inline ms-2">Login</a>
                </div>
            </div>
        </div>
    </div>
</section>
