@model LoginViewModel

@{
    Layout = "_AccountLayout";
}

<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <!-- Signin Image -->
            <div class="signin-image">
                <figure>
                    <img src="~/Images/Account/signin-image.jpg" alt="Sign in image" />
                </figure>
                <a href="@Url.Action("Register", "Account")" class="signup-image-link">Create an account</a>
            </div>

            <!-- Signin Form -->
            <div class="signin-form">
                <h2 class="form-title">Sign In</h2>
                <form method="POST" asp-action="Login" class="register-form" id="login-form">
                    <div class="form-group">
                        <label for="your_email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="email" asp-for="Email" class="form-control" id="your_email" placeholder="Your Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" asp-for="Password" class="form-control" id="your_pass" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                        <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                    </div>

                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                    </div>
                </form>

                <!-- Social Login -->
                <div class="social-login">
                    <span class="social-label">Or login with</span>
                    <ul class="socials">
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                    </ul>
                </div>

                <!-- Forgot Password Link -->
                <div class="mt-2">
                    <a href="@Url.Action("ForgetPassword", "Account")" class="btn btn-secondary d-inline ms-2">Forget Password</a>
                </div>
            </div>
        </div>
    </div>
</section>
