@model ProfileViewModel
@{
    ViewData["Title"] = "ShowUserProfile";
}

<h1>@Model.UserName's Profile</h1>

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Personal Information</h5>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>UserName:</strong>@Model.UserName</li>
            <li class="list-group-item"><strong>Email:</strong>@Model.Email</li>
            <li class="list-group-item"><strong>Phone:</strong>@Model.Phone</li>
        </ul>
    </div>
</div> 1    


