@{
    Layout = "_Layout";
}
<div class="full-page-bg">
    <div class="container text-center">
        <h1>Welcome to Tazkartk</h1>
        <p>Book your Tickets for upcoming Events now !</p>
    </div>
</div>

<div class="container" style="height:1300px">
    <h1 class="display-3">Latest Events</h1>
    <div class="row">
        <!-- Article 1 -->
        <div class="col-md-4">
            <div class="card article-card">
                <img src="~/Images/Dashboard/Article.jpg" class="card-img-top article-image" alt="Article 1 Image">
                <div class="card-body">
                    <h5 class="card-title">Article Title 1</h5>
                    <p class="card-text">Short description of the article goes here. It gives an overview of the content.</p>
                    <p class="text-muted">on: Jan 1, 2024</p>
                    <a href="#" class="btn btn-primary btn-custom">Read More</a>
                </div>
            </div>
        </div>

        <!-- Article 2 -->
        <div class="col-md-4">
            <div class="card article-card">
                <img src="~/Images/Dashboard/Article.jpg" class="card-img-top article-image" alt="Article 2 Image">
                <div class="card-body">
                    <h5 class="card-title">Article Title 2</h5>
                    <p class="card-text">Short description of the article goes here. It gives an overview of the content.</p>
                    <p class="text-muted">on: Feb 5, 2024</p>
                    <a href="#" class="btn btn-primary btn-custom">Read More</a>
                </div>
            </div>
        </div>

        <!-- Article 3 -->
        <div class="col-md-4">
            <div class="card article-card">
                <img src="~/Images/Dashboard/Article.jpg" class="card-img-top article-image" alt="Article 3 Image">
                <div class="card-body">
                    <h5 class="card-title">Article Title 3</h5>
                    <p class="card-text">Short description of the article goes here. It gives an overview of the content.</p>
                    <p class="text-muted">on: Mar 10, 2024</p>
                    <a href="#" class="btn btn-primary btn-custom">Read More</a>
                </div>
            </div>
        </div>

        <!-- Article 4 -->
        <div class="col-md-4">
            <div class="card article-card">
                <img src="~/Images/Dashboard/Article.jpg" class="card-img-top article-image" alt="Article 1 Image">
                <div class="card-body">
                    <h5 class="card-title">Article Title 1</h5>
                    <p class="card-text">Short description of the article goes here. It gives an overview of the content.</p>
                    <p class="text-muted">on: Jan 1, 2024</p>
                    <a href="#" class="btn btn-primary btn-custom">Read More</a>
                </div>
            </div>
        </div>

        <!-- Article 5 -->
        <div class="col-md-4">
            <div class="card article-card">
                <img src="~/Images/Dashboard/Article.jpg" class="card-img-top article-image" alt="Article 1 Image">
                <div class="card-body">
                    <h5 class="card-title">Article Title 1</h5>
                    <p class="card-text">Short description of the article goes here. It gives an overview of the content.</p>
                    <p class="text-muted">on: Jan 1, 2024</p>
                    <a href="#" class="btn btn-primary btn-custom">Read More</a>
                </div>
            </div>
        </div>

        <!-- Article 6 -->
        <div class="col-md-4">
            <div class="card article-card">
                <img src="~/Images/Dashboard/Article.jpg" class="card-img-top article-image" alt="Article 1 Image">
                <div class="card-body">
                    <h5 class="card-title">Article Title 1</h5>
                    <p class="card-text">Short description of the article goes here. It gives an overview of the content.</p>
                    <p class="text-muted">on: Jan 1, 2024</p>
                    <a href="#" class="btn btn-primary btn-custom">Read More</a>
                </div>
            </div>
        </div>

        <!-- Add more articles here -->
    </div>
</div>