@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "_Layout";
}

<!-- About 1 - Ticketing System Component -->
<section class="py-3 py-md-5">
    <div class="container">
        <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
            <div class="col-12 col-lg-6 col-xl-5">
                <img class="img-fluid rounded" loading="lazy" src="~/Images/about.jpg" alt="About Us - Ticketing System">
            </div>
            <div class="col-12 col-lg-6 col-xl-7">
                <div class="row justify-content-xl-center">
                    <div class="col-12 col-xl-11">
                        <h2 class="mb-3">About Our Ticketing Platform</h2>
                        <p class="lead fs-4 text-secondary mb-3">
                            At Tazkartk, we make it easy for people to book tickets for a wide variety of events, from concerts and festivals to theater shows and sporting events.
                        </p>
                        <p class="mb-5">
                            Our platform is designed to provide a seamless experience, whether you’re attending an event or managing one. We prioritize customer satisfaction by offering secure, fast, and user-friendly services. Join us to discover the best events happening around you!
                        </p>
                        <div class="row gy-4 gy-md-0 gx-xxl-5">
                            <div class="col-12 col-md-6">
                                <div class="d-flex">
                                    <div class="me-4 text-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-ticket-perforated" viewBox="0 0 16 16">
                                            <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h12A1.5 1.5 0 0 1 15 4.5v1.465a.5.5 0 0 1-.5.5c-.828 0-1.5.672-1.5 1.5s.672 1.5 1.5 1.5a.5.5 0 0 1 .5.5V11.5a1.5 1.5 0 0 1-1.5 1.5h-12A1.5 1.5 0 0 1 0 11.5v-1.465a.5.5 0 0 1 .5-.5c.828 0 1.5-.672 1.5-1.5s-.672-1.5-1.5-1.5a.5.5 0 0 1-.5-.5V4.5zm1 0v.935c1.078.456 1.5 1.468 1.5 2.565 0 1.097-.422 2.109-1.5 2.565V11.5a.5.5 0 0 0 .5.5h12a.5.5 0 0 0 .5-.5v-.935c-1.078-.456-1.5-1.468-1.5-2.565 0-1.097.422-2.109 1.5-2.565V4.5a.5.5 0 0 0-.5-.5h-12a.5.5 0 0 0-.5.5z" />
                                        </svg>
                                    </div>
                                    <div>
                                        <h2 class="h4 mb-3">Seamless Ticket Booking</h2>
                                        <p class="text-secondary mb-0">
                                            Whether it's for a concert, festival, or theater show, our platform allows you to book your tickets with ease.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="d-flex">
                                    <div class="me-4 text-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-calendar-check-fill" viewBox="0 0 16 16">
                                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1zm11.854 3.854a.5.5 0 1 0-.708-.708L8.5 10.293 6.854 8.646a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l4-4z" />
                                        </svg>
                                    </div>
                                    <div>
                                        <h2 class="h4 mb-3">Event Management</h2>
                                        <p class="text-secondary mb-0">
                                            Event organizers can manage their events with our comprehensive tools, making ticket distribution and attendee management a breeze.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
