@model Event
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <div class="row">
        <!-- Product Image -->
        <div class="col-12 col-md-6 mb-4 mb-md-0">
            <img src="https://via.placeholder.com/600x400" alt="Product Image" class="product-image">
        </div>
        <!-- Product Details -->
        <div class="col-12 col-md-6">
            <div class="details-card">
                <h2>Product Title</h2>
                <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec dui non arcu facilisis viverra. Etiam imperdiet, purus vel bibendum tristique.</p>
                <p><strong>Date:</strong> September 26, 2024</p>
                <p><strong>Organizer:</strong> Kareem Ehab</p>
                <a href="another-page.html" class="btn btn-custom mt-3">Learn More</a>
            </div>
        </div>
    </div>

<br/>